.logo {
    &--name {
        font-size: 28px;
        font-weight: 900;
        text-transform: uppercase;
        color: $first;
    }

    &--text {
        font-size: 20px;
        font-weight: 900;
        line-height: 30px;
        color: #fff;
        text-transform: lowercase;
    }
    &-min &--name {
        @include pk() {
            font-size: 22px;
        }
    }
    &-min &--text {
        @include pk() {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
