.workers {
    background-color: $bg;
    &--container {
        padding: var(--space) 0;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &--body {
        height: 370px;
    }

    &--swiper {
        overflow: visible;
        @include pk() {
            width: 624px !important;
            margin: 0;
        }
        @include tb() {
            width: 250px !important;
        }
    }

    &--wrapper {
        justify-content: space-between;
    }

    &--card {
        @media (min-width: calc($media-2 + 1px)) {
            width: auto !important;
        }
        flex: 0 0 312px;
        @include pk() {
            flex: 0 0 300px;
            width: 300px !important;
        }
        @include tb() {
            flex: 0 0 250px;
            width: 250px !important;
            height: 370px;
        }
    }
}
